body {
    font-family: arial, sans-serif;
    background-color: skyblue;
    margin: 0px; /*This will fill the entire website without any space unless the margin size is mentioned in the classes.*/
}

span.Web {
    text-decoration: underline wavy coral;
    /* text-decoration/text decoration style/text-decoration-color/text-decoration-thickness*/
}

.Webgraphicdesigner {
    font-size: 2.5rem;
    padding-left: 377px;
    color: #f6ff00;
    width: 700px;
    height: 46px;
}

p {
    line-height: 2;
    /*Line Height will increase the space for each line*/
    font-size: 12pt;
    padding-left: 23px;
}

.html-skill-row {
    height: 183px;
    width: 733px;
    padding-left: 346px;
    margin-top: 26px;
    margin-bottom: 51px;
    text-align: left;
}

.linkedin-footer-link {
    padding-left: 454px;
}

a {
    color: #f40000;
    font-family: 'Monserrat';
    margin: 5px 20px;
    text-decoration: none;
}

a:hover {
    color: #eeff00; /*The color changes when it is hovering on the anchor text.*/ 
}

.css-skill-row {
    height: 183px;
    width: 733px;
    padding-left: 537px;
    margin-top: 26px;
    margin-bottom: 51px;
    text-align: left;
}

.HTML-sticker {
    width: 25%;
    float: left;
    /*The float property is for positioning content.*/
}

hr {
    border-top: 7px;
    border-style: dotted;
    border-bottom: none;
    color: rgb(9, 255, 0);
    width: 4%;
    margin: 60px 700px;
    /*Top and Bottom/Left and Right*/
}
Carpet Python
.CSS-sticker {
    width: 25%;
    float: right;
    margin-right: 106px;
}

h1 {
    text-align: center;
    padding-left: 558px;
}

h4.Get-in-touch {
    padding-left: 622px;
    width: 325px;
    font-family: 'Smooch', cursive;
    font-size: 40pt;
    color: rgb(167, 25, 232);
    margin-bottom: 0px;
}

div.top-container {
    height: 560px;
    width: 860px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    position: relative;
}

.first-cloud {
    position: absolute;
    margin-left: 1119px;
}

.second-cloud {
    position: absolute;
    margin-left: 164px;
}

.mountain {
    position: absolute;
    left: 450px;
    right: 200px;
}

.profile-intro {
    width: 30%;
    padding-left: 5px;
    text-align: center;
    margin: auto;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 175px 20px;
    /*Top/left and right/bottom*/
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 368px;
}

.CSS-intro {
    padding-left: 178px;
}

.copyright {
    /*footer class*/
    padding: 38px 0px 25px 496px;
    font-family: Oleo Script Swash Caps';
    font-size: 14pt;
    color: #eaf6f6;
}

.varun-img {
    border: 10px dashed orange;
    margin-left: 554px;
    background-color: blue;
}

.contact-message {
    text-align: center;
    padding-bottom: 70px;
}

footer {
    padding: 33px 602px 0px 508px;
    /*Top/Right/Bottom/Left*/
}

.btn {
    background-image: -webkit-linear-gradient(top, #30e3cb, #2980b9);
    background-image: -moz-linear-gradient(top, #30e3cb, #2980b9);
    background-image: -ms-linear-gradient(top, #30e3cb, #2980b9);
    background-image: -o-linear-gradient(top, #30e3cb, #2980b9);
    background-image: linear-gradient(to bottom, #30e3cb, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat, Cambria, Cochin, Georgia, 'Times New Roman, serif';
    color: #ffbf00;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    /*These lines are for the gradients and other properties which I chose with the help of the CSS button generator. 
  https://css3buttongenerator.com/*/
    margin-left: 671px;
}

.btn:hover {
    color: rgb(201, 255, 6);
    background: #fc3c9c;
    background-image: -webkit-linear-gradient(top, #fc3c9c, #3498db);
    background-image: -moz-linear-gradient(top, #fc3c9c, #3498db);
    background-image: -ms-linear-gradient(top, #fc3c9c, #3498db);
    background-image: -o-linear-gradient(top, #fc3c9c, #3498db);
    background-image: linear-gradient(to bottom, #fc3c9c, #3498db);
}

/*These lines are for when I hover on the button, the colors will change.*/